.card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 24px;
    background-color: white;
    width: 100%;
    max-width: 280px;
    height: 304px;
    box-shadow: 0 10px 50px -5px rgba(183, 189, 193, .3);
    border-radius: 12px;
    cursor: pointer;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.img img {
    max-height: 200px;
}

.circle {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;
}

.info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 24px;
}

.text span {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #7a7d80;
    margin-bottom: 6px;
}

.icon {
    display: flex;
    width: 28px;
    height: 28px;
}

.icon svg {
    margin: auto;
    width: 90%;
}