.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media(max-width: 991px) {
    .cards {
        grid-template-columns: repeat(2, 280px);
        justify-content: center;
    }
}