.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 32px;
}

@media(max-width: 991px) {
    .cards {
        grid-template-columns: repeat(2, 280px);
        justify-content: center;
    }
}

@media(max-width: 640px) {
    .cards {
        grid-template-columns: 1fr;
    }
}