.hero {
    position: relative;
    margin-bottom: -288px;
}

.slideWrapper {
    height: 100%;
}

.slide {
    background-repeat: no-repeat;
    background-position: bottom 288px center;
    background-size: 1440px, cover;
    padding-top: calc(20px + 112px);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.slide::before {
    content: "";
    background: linear-gradient(132deg, white 0%, #EFF3F6 100%);
    width: 100%;
    height: 288px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.slide.red {
    background-color: #C20001;
    background-image: url("../assets/red-bg.svg"), radial-gradient(
        ellipse 100% 70% at center 100%,
        #AB0001 0%,
        transparent 100%
    );
}

.slide.blue {
    background-color: #3F67BA;
    background-image: url("../assets/blue-bg.svg"), radial-gradient(
        ellipse 100% 70% at center 100%,
        #05276D 0%,
        transparent 100%
    );
}

.slide .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 830px;
    position: relative;
    z-index: 3;
    pointer-events: none;
}

.tag {
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: 244px;
    padding: 4px 18px 4px 6px;
    margin-bottom: 24px;
}

.tag .iconWrapper {
    background-color: var(--color-red-200);
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.blue .tag .iconWrapper {
    background-color: var(--color-blue-200);
}

.tag span {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-red-500);
}

.blue .tag span {
    color: var(--color-blue-500)
}

.tag .iconWrapper img {
    max-width: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.text p {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 798px;
}

.imgs .lighting {
    max-width: 200px;
}

.explore {
    position: absolute;
    bottom: calc(288px + 77px);
    left: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

.explore .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.explore .iconWrapper img {
    max-width: 8px;
}

.explore span {
    color: white;
    transform: rotate(270deg);
}

.blue .explore .iconWrapper {
    background-color: rgba(175, 192, 227, 0.3);
}

.red .explore .iconWrapper {
    background-color: #C90C0C;
}

/* section search */
.search {
    position: relative;
    z-index: 2;
}

.search > div {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 90px;
    height: 288px;
}

.pokemons {
    background-color: white;
    padding: 70px 0;
}

.pokemons .container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.content > button {
    margin: 32px auto 0;
}

.title {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 64px;
}

.title::before {
    content: "";
    display: flex;
    width: 32px;
    height: 32px;
    background: url("../assets/icon-pokeball.svg") no-repeat center center;
    background-size: cover;
}

@media(max-width: 991px) {
    .slide {
        background-size: 1000px, cover;
    }

    .slide .container {
        height: 800px;
    }

    .slide .imgs {
        position: relative;
        top: -130px;
    }

    .text {
        max-width: 600px;
        justify-content: center;
    }

    .text h1,
    .text p {
        text-align: center;
    }

    .text p {
        max-width: 400px
    }

    .imgs {
        max-width: 500px;
    }

    .search .container {
        flex-direction: column;
        align-items: center;
        justify-content: end;
        row-gap: 32px;
        padding-bottom: 32px;
    }

    .search h2 {
        text-align: center;
    }

    .pokemons .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .pokemons .content {
        align-items: center;
    }
}

@media(max-width: 640px) {
    .slide {
        background-size: 760px, cover;
        background-position: bottom 280px center;
    }

    .slide .container {
        height: 740px;
        overflow-x: clip;
    }

    .slide .imgs {
        top: -160px;
    }

    .slide.blue h1 {
        max-width: 250px;
    }

    .slide p {
        max-width: 320px;
    }

    .slide .imgs {
        width: 380px;
        flex-shrink: 0;
    }

    .explore {
        bottom: calc(288px + 20px);
        row-gap: 28px;
    }

    .explore .iconWrapper {
        width: 24px;
        height: 24px;
    }

    .search h2 {
        max-width: 220px;
    }
}
