.wrapper {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal {
    --modal-border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 710px;
    height: 508px;
    border-radius: var(--modal-border-radius);
    z-index: 101;
    position: relative;
}

.close {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    position: absolute;
    bottom: calc(100% + 8px);
    right: 0;
    cursor: pointer;
}

.pokemon {
    width: 100%;
    max-width: 191px;
    position: relative;
    display: flex;
}

.bg {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: var(--modal-border-radius) 0 0 var(--modal-border-radius);
    z-index: 1;
}

.icon {
    background-color: white;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.icon svg {
    width: 28px;
    height: 28px;
}

.pokemonImage {
    width: 100%;
    max-width: 202px;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translate3d(0, -50%, 0);
    z-index: 2;
}

.pokemonImage img {
    max-height: 202px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    row-gap: 16px;
}

.name span {
    font-weight: 400;
    color: #7A7D80;
    font-family: var(--font-alternative);
}

.types {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.measures {
    color: #7A7D80;
    font-family: var(--font-alternative);
    display: flex;
    column-gap: 48px;
}

.measures span {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.measures strong {
    display: block;
    color: black;
}

.title {
    color: #4D5053;
    margin-bottom: 8px;
}

.weaknesses {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.remaining {
    background-color: #FF2C2C;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0;
}

.statsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

@media(max-width: 991px) {
    .details {
        padding: 40px 32px;
    }
}

@media(max-width: 640px) {
    .wrapper {
        padding: 44px 0 0 0;
        overflow-y: scroll;
    }

    .modal {
        max-width: 625px;
        flex-direction: column;
        height: auto;
        border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: to-top 200ms ease-out forwards !important;
    }

    .close {
        top: 8px;
        right: 8px;
        z-index: 3;
    }

    .pokemon {
        max-width: unset;
    }

    .pokemonImage {
        max-width: 125px;
        left: 50%;
        top: 25px;
        transform: translate3d(-50%, 0, 0);
    }

    .pokemonImage img {
        max-height: 125px;
    }
    
    .bg {
        width: 100%;
        height: 125px;
        border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
    }
    
    
    .bg svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transform-origin: center;
        transform: rotate(270deg) scale(5);
    }

    .icon {
        top: 8px;
        left: 8px;
        right: unset;
    }

    .details {
        padding: 57px 10px 40px;
        align-items: center;
    }

    .details h3 {
        text-align: center;
    }

    .measures span {
        text-align: center;
    }

    .statsSection {
        width: 100%;
    }

    @keyframes to-top {
        from {
            transform: translate3d(-50%, 30px, 0);
        }
        to {
            transform: translate3d(-50%, 0, 0);
        }
    }
}