.types {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.type {
    display: flex;
    align-items: center;
    gap: 16px;
    filter: grayscale(100%);
    opacity: .6;
    transition: all 200ms ease;
    cursor: pointer;
}

.type.active,
.type:hover {
    filter: grayscale(0);
    opacity: 1;
}

.icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    max-height: 28px;
}

.text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}

@media(max-width: 991px) {
    .typeSelector {
        display: block;
        width: max-content;
        padding: 10px 12px;
        background-color: var(--color-blue-100);
        border: 1px solid var(--color-blue-200);
        border-radius: 12px;
        margin-bottom: 32px;
    }
    
    .typeSelector:focus {
        border-color: var(--color-blue-500);
    }
}