.footer {
    background-color: #3F5DB3;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 190px;
}

@media(max-width: 640px) {
    .container {
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;
    }
}