.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
}

.logo {
    max-width: 156px;
}

.description {
    display: flex;
    align-items: center;
}

.description span {
    color: white;
}

@media(max-width: 991px) {
    .container {
        justify-content: center;
    }

    .description {
        display: none;
    }
}