.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
}

.logo {
    max-width: 156px;
}

.description {
    display: flex;
    align-items: center;
}

.description span {
    color: white;
}