.wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.img {
    grid-area: 1/1;
    opacity: 0;
    transition: .4s;
}

.skeleton {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-image: linear-gradient(90deg, #eee 0, #fff 50%, #eee 100%);
    background-color: #eee;
    background-size: 200%;
    border-radius: 50%;
    animation: skeleton 1.5s infinite linear;
}


@keyframes skeleton {
    from {
        background-position: 0;
    }
    to {
        background-position: -200%;
    }
}