.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.bar {
    width: 283px;
    height: 3px;
    background-color: #EFF3F6;
    overflow: hidden;
    position: relative;
}

.spaces {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.space {
    width: 4px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    transform: translate3d(-50%, 0, 0);
}

.value {
    width: 0;
    height: 100%;
    background-color: var(--color-red-500);
    z-index: 2;
}

