.type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 2px;
    transform: scale(0);
    animation: type-animation 500ms ease-out forwards;
}

.type span {
    font-family: var(--font-alternative);
    font-weight: 600;
    letter-spacing: -1%;
}

@keyframes type-animation {
    0%   { transform: scale(0.7); }
    60%  { transform: scale(1.15); }
    80%  { transform: scale(0.95); }
    100% { transform: scale(1); }
}