* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    font-family: var(--font-default);
}

body {
    --font-default: "Inter", sans-serif;
    --font-alternative: "Montserrat", sans-serif;
    --color-blue-100: rgba(63, 104, 186, 0.1);
    --color-blue-200: rgba(63, 104, 186, 0.25);
    --color-blue-500: #3F67BA;
    --color-red-200: rgba(194, 0, 1, .25);
    --color-red-500: #C20001;
}

img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
    border: 0;
}

button:disabled {
    cursor: not-allowed;
}

a {
    text-decoration: none;
    display: block;
}

/* Titles */
h1, h2, h3 {
    font-family: var(--font-alternative);
}

h1, h2 {
    font-weight: bold;
    line-height: 1.2;
}

h2, h3 {
    color: #2f3133;
}

h1 {
    font-size: 64px;
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
}